In [2]:
## Revision - If condition

weight = 25

if weight > 35:
  print("This isnt allowed")
elif weight > 23:
  print('You have to pay extra')
else:
  print("You're good to go")

# NESTING

if True: 
  if True:
    print("Hello")
  elif True:
    print("world")
else:
  print("Earth")

# Q2 practice revision
# Calculator

You have to pay extra
Hello

In [5]:
# Patience's code

number_1 = float(input("Enter first number:"))
math_operation = input("Enter math operation:")
number_2 = float(input("Enter second number:"))
if math_operation == "-":
  print("Result:", number_1 - number_2)
elif math_operation == "+":
  print("Result:", number_1 + number_2)
elif math_operation == "*":
  print("Result:", number_1 * number_2)
elif math_operation == "/":
  print("Result:", number_1 / number_2)
else:
  print("error")

Enter first number:90
Enter math operation:-
Enter second number:90
Result: 0.0

In [ ]:
###------------- S  T R I N G S -------------------###

In [3]:
#String is a class
#Classes have functions 
#Functions end with ()

In [10]:
a = "KABOOM"


"""
K   A   B   O   O   M
0   1   2   3   4   5
-6  -5  -4  -3  -2  -1
"""

length_a = len(a)
print(length_a)

# indexing == location
print(a[0])
print(a[5])
print(a[-1])
print(a[-3])
print(a[2])

6
K
M
M
O
B

In [21]:
a = "KABOOM"


"""
K   A   B   O   O   M
0   1   2   3   4   5
-6  -5  -4  -3  -2  -1
"""

#Slicing
# [start_Range : end_range+1]

print(   a[0:3]   ) 
print(   a[3:5]   )
print(   a[3:]    ) # index#3 and everything after it
print(   a[:4]    )

print(a[-6:])
print(a[0:])

print(len(a))

la = len(a)

print(a[-la:]) ## over exaggerated

KAB
OO
OOM
KABO
KABOOM
KABOOM
6
KABOOM

In [23]:
## loop through a string 

orchid = "PSJND"

for apple in orchid:
  print(apple)
  print("haha")

P
haha
S
haha
J
haha
N
haha
D
haha

In [25]:
emotion = "HAPPY"   ## emotion is a String variable

for z in emotion:   ## z is a random variable name
  print(z,"alphabet" )

H alphabet
A alphabet
P alphabet
P alphabet
Y alphabet

In [26]:
password = "Bali&z00"

for p in password:
  print(p)

B
a
l
i
&
z
0
0

In [35]:
## checking if a word exists 


emotions  = input("Enter your emotions")

if "happy" in emotions:
  print("Good day!!")

else:
  print("false")

Enter your emotionssad and happy
Good day!!

In [43]:
## Pou's Question 

txt="Kitty cats are the best"

x = print() #returns None
y = input() # returns a String

print (x)

hello
None

In [58]:
"""
Methods or Functions ... ()

upper()
.lower()
.split()
.reverse()
.replace()
.strip()

"""

naan = "Flat bread"

print(naan.upper())

print(naan.lower())

print(naan.title())

print(naan.split()) ## splits by space (default), returns a list
x, y = naan.split()
print(y)

z = "hello-world-planet-earth"
print(z.split("-"))

z = "hello,world,planet-earth"
print(z.split(","))


##print(naan.reverse()) ## works with numbers only


print(naan)
print(naan.replace("a", "$"))


n = "       hello world       "
print(n)
print(n.strip())

FLAT BREAD
flat bread
Flat Bread
['Flat', 'bread']
bread
['hello', 'world', 'planet', 'earth']
['hello', 'world', 'planet-earth']
Flat bread
Fl$t bre$d
       hello world
hello world

In [50]:


math = input("Enter your equation")
num1, op, num2 = math.split()

num1 = float(num1)
num2 = float(num2)
op = op

Enter your equation6 / 7

In [1]:
## Tasks to try

#Q1 End task
# Menu - what & how much? e.g.  2 sandwiches
#      - display total bill


## text to image --- AI application

In [61]:

# Q3 Assignment 
# HANGMAN  + fill in the blanks
"""
A _  _   L  _ _

correct answers: P, E 

1 guess is 1 alphabet

"""

'\nA _  _   L  _ _\n\ncorrect answers: P, E \n\n1 guess is 1 alphabet\n\n'