In [ ]:
# Revision - Strings #

"""
length
indexing
loop 
if
methods/functions
"""
print("Let's get started")

In [ ]:
name = "HAREEM NisAr"

print(len(name))

# indexing
print(name[0])

print(name[5])

print(name[-1])

# Slicing
print(name[2:8])

print(name[6])

for i in name:
  print(i.upper())
print(type(i))

name = name.replace(" ", "$")
print(name)


if "$" in name:
  print("Yes")


name = input()
name.upper()

12
H
M
r
REEM N

H
A
R
E
E
M

N
I
S
A
R
<class 'str'>
HAREEM$NisAr
Yes
oops

'OOPS'

In [ ]:
# Topic for Day07 -  FOR Loop

# A for loop is used for iterating over a sequence (list, dict, string, etc)

In [ ]:
# loop over string

fruit = input("enter a bad fruit")

for f in fruit:
  print(f.upper())

enter a bad fruitpineapPLe
P
I
N
E
A
P
P
L
E

In [ ]:
# loop over a list
x = [] #empty list
x = ["apple", "banana shake" , "soda", 7]

for floof in x:
  print(floof, type(floof))

print(x[0]) #apple

jelly = input("enter a flavor")
x.append(jelly)
print(x)

apple <class 'str'>
banana shake <class 'str'>
soda <class 'str'>
7 <class 'int'>
apple
enter a flavorrasberry
['apple', 'banana shake', 'soda', 7, 'rasberry']

In [ ]:

myRandomList = ["zerberts", 8.9, 9, True, "Once upon a time"]

for i in myRandomList:
  print(i)
  print(type(i))
  print()

  #if i==9:
  #  break

zerberts
<class 'str'>

8.9
<class 'float'>

9
<class 'int'>

In [ ]:
x = [1,2,3,4,5,6,7]

for num in x:
  print(num*5)

5
10
15
20
25
30
35

In [ ]:

for num in [0,1,2,3,4,5,6,7]:
  print(num*5)

0
5
10
15
20
25
30
35

In [ ]:
# loop through a range of numbers

for num in range(8):
  print(num)

0
1
2
3
4
5
6
7

In [ ]:
for num in range(5,9):
  print(num)

5
6
7
8

In [ ]:
for num in range(5,50,7):
  print(num)

5
12
19
26
33
40
47

In [ ]:
for num in range(1, 11):
  print(num*7)

7
14
21
28
35
42
49
56
63
70

In [ ]:

# task 1 

# myList = [] 
# how many inputs do you want? how many elements in the list?
# For loop that runs accordingly
#   fill in the list (by user input) using myList.append(myUserInputValue)
# print the final list

In [ ]:
# nested for loop

for num1 in range(1,4): #runs 3 times
  
  for num2 in range(100,600,100): #runs 5 times

    print(num1, num2) # runs 15 times

1 100
1 200
1 300
1 400
1 500
2 100
2 200
2 300
2 400
2 500
3 100
3 200
3 300
3 400
3 500

In [ ]:
for num1 in ["sweet", "sour", "bitter"]: #runs 3 times
  
  for num2 in ["soup", "candy"]: #runs 2 times
    print("")
    
  print(num1, num2) # runs 2x3= 6 times

sweet candy


sour candy


bitter candy

In [ ]:
for num1 in ["sweet", "sour", "bitter"]: #runs 3 times
  print(num1)
  for num2 in ["soup", "candy"]: #runs 2 times
    print(num2)

sweet
soup
candy
sour
soup
candy
bitter
soup
candy

In [ ]:
num2 = "zero"

for num1 in ["sweet", "sour", "bitter"]: #runs 3 times
  print(num1, num2)
  for num2 in ["soup", "candy"]: #runs 2 times
    print()

sweet zero


sour candy


bitter candy

In [ ]:
for num1 in ["hello", "world"]:
  for num2 in ["1", "2"]:
    print(num1, num2)

hello 1
hello 2
world 1
world 2

In [ ]:


for word in ["hello", "kitty"]:
  #print(word) ## word is a string
  for alphabet in word:
    print(alphabet)

h
e
l
l
o

h
o
w

a
r
e

y
o
u
k
i
t
t
y

In [ ]:
# Task 2
"""
create a list of nicknames. 
Identify if any of the nicknames is longer than 7 letters
when the name is too long spell out the whole name sandwiched between stars or something

"""

In [ ]:
# next lecture  -  break, continue, else, pass