In [ ]:
"""
Day 01 Revision
This kernel implements the concepts from Day 01 including
 - Print: \n to create a newline and \t to add a tab (1 tab = 4 spaces)
 - Comment: # for Single line comment and '''Multiline comment'''
"""

# this is a comment
print("Hello World")

Hello World

In [ ]:
"""
TOPICS for Day 02 
•	Using variables (int, float string) to print.
•	Using “TYPE” command to see the type of variable it is.
•	Overwriting existing variables.
•	Valid variable names and conventions
•	Concatenating variables in a print statement. 
•	String ‘This’ vs “that”
•	String.title(), .upper(), .lower(), variable*2
•	full_name = first_name + " " + last_name
•	User input
"""

print("Let's get started")

Let's get started

In [14]:
# random variable names

x = 9
apples = 5
anne = "Green"
flour = 1.5 

print(x)
print(type(x))
print(type(anne))
print(type(flour))

anne = 85
print(type(anne))

9
<class 'int'>
<class 'str'>
<class 'float'>
<class 'int'>

In [21]:
alpha = 89
beta = "Code"
gamma = "red"

print(beta,gamma,alpha) #commas ignore the data type


newString = beta+gamma+str(alpha)
print(newString) #prints as 1 string

str2 = beta + " " + gamma + " " + ":" + str(alpha) #Concatenation
print(str2)

Code red 89
Codered89
Code red :89

In [1]:
print(str(50))

50

In [2]:
_print = 8
_print_8 = 50

str45 = 89 #this is ok

num_trees = 107

In [3]:

apples = 5
raisins = 8

cocktail = apples + raisins 

print(cocktail)

13

In [4]:
print(6-7*1)

-1

In [6]:
x= 8/6*7
print(type(x))
print(x)

<class 'float'>
9.333333333333332

In [8]:
x = 7
print("The original value of x is ", x)

x = x+1 # increment
print("The new value for x is", x)

x = x-1 # decrement
print("The new value for x is", x)

The original value of x is  7
The new value for x is 8

In [9]:
# CASTING - changing data types

x = "True"
y = "85"
z = 90

a = bool(x)
b = int(y)

print(a, b)

True 85

In [12]:
x = 0.5
a = bool(x)

print(a)

True

In [20]:
num_apples = 10 #hard coding a value

#user input
num_apples = num_apples + int(input()) #always going to be a string

print("I have", num_apples, "apples")

50
I have 60 apples

In [ ]:
# ask the user to enter their name #String
# ask the user to enter their date of birth #Integer

# John was born on the 5th of December