In [1]:
print("abc76*&") #each box is called a kernel

abc76*&

In [31]:
print("Hello World")
print("My name is Hareem")

Hello World
My name is Hareem

In [4]:
print("Hello\nWorld") # \n moves cursor to the next line

Hello
World

In [5]:
print("Hello\tWorld") #\t moves cursor by 4 spaces

Hello	World

In [6]:
print("Name:       Hareem")
print("Age:        28")
print("Occupation: Teaching")

Name:       Hareem
Age:        28
Occupation: Teaching

In [7]:
print("Name:\t\tHareem\nAge:\t\t28")

Name:		Hareem
Age:		28

In [8]:
print("G\t\tA\t\tM\t\tE\t\t\nO\t\tV\t\tE\t\tR")

G		A		M		E
O		V		E		R

In [12]:
# DESIGN A MENU
print("Dreamy Dreams Cafe")
print("Milkshakes:\t$$") # heading
print("1.Unicorn shake\t8") # menu item no. 1
print("2.Llama Creme\t9")
print("3.Butterflies\t10")

Dreamy Dreams Cafe
Milkshakes:	$$
1.Unicorn shake	8
2.Llama Creme	9
3.Butterflies	10

In [17]:
# this is a single line comment
# this is also a single line comment

"""
Hello nms,vksmf,;v
dsasc
World
program 
"""

print("My Class Day 01")

My Class Day 01

In [18]:
print("Alpha") #string
print(2) #integer
print(7.05) #float

Alpha
2
7.05

In [19]:
print("90.7") #String

90.7

In [22]:
bowl = "Candy" # variable called bowl, which stores a String
print(bowl) #printing the value inside the variable called bowl

Candy

In [23]:
stars = 5 #integer data type
print(stars)

5

In [35]:
flour = 1.5 
print(flour, "kg")

flour = 3
print(flour, "kg")

flour = 2
print(flour, "kg")

1.5 kg
3 kg
2 kg

In [30]:
x = 7
y = 8.9
z = "Hello&%67"

#print(x, y, z)

x = 10
y = "World"
z = 10.8

#print(x,y,z)

print(y)

World

10 World 10.8

In [28]:
print(zoo)

zoo= 70

NameError: ignored