In [8]:
"""
Day 02 Revision
"""
#print value through variables
x = 7
y = "Hello"
z = "World"

print(y, z, x)

#print a concatenated string
a = y+ " " +z
print(a)

#using type()
print(type(a))

#user input
print("Please enter your favorite number")
v = input()

#casting
num1 = int(v) #gives error if input was a decimal 
num2 = float(v)

print(v, num1, num2)

Hello World 7
Hello World
<class 'str'>
Please enter your favorite number
50
50 50 50.0

In [10]:
str3 = "30"
print(int(str3))
print(float(str3))

str4 = "30.0"
#print(int(str4)) #error
print(float(str4))

num3 = 9.5
print(int(num3))

30
30.0
30.0
9

In [ ]:
"""
TOPICS for Day 03
•	Boolean
•	Logic Design
•	String ‘This’ vs “that”
•	String.title(), .upper(), .lower(), variable*2
•	full_name = first_name + " " + last_name
•	Loop through a string (later)
•	Length of a string
• split() and strip()
#https://www.w3schools.com/python/python_strings_methods.asp
"""

In [14]:
#booleans - True/False    0/1 0/AnyNumber

x = True
y = False

num4 = 0
print(bool(num4)) #False

num5 = -75
print(bool(num5)) #True

False
True

In [15]:
d1 = True
d2 = False
d3 = 7>8   #False
d4 = 8>5   #True
d5 = 8==9  #False
d6 = "hello" == "hello" #True
d7 = 8!=9  #True
d8 = 8>=5  #True
d9 = 8>=15 #False

True

In [22]:
# AND      a & b ... if A and B is true, the answer is True 

f1 = True and False     #False
f2 = False & False    #False
f3 = True & True      #True
f4 = False & True     #False
f5 = bool(8) & bool(0)   #False
f6 = bool(8) & bool(-7)   #True 

#rint(f1)


# OR        a or b .... if either A OR B is true, then answer is True
e1 = True | False   #True
e2 = False or False   #False
e3 = bool(7) or bool(-8)  #True
e4 = bool(0) or bool(10)   #True

#print(e1)



# NOT 

g1 = not True #False
g2 = not 8>9  #True
g3 = not 9!=9 #True

False
True

In [26]:
# lineA..
# if (True):
#   lineB do this
# lineC...

print("hello")
if (9>10): 
  print("orange")
print("man")

hello
man

In [ ]:
# Boolean Task 
#Ask two users to enter their name and age. 
# Print out somehting like: A is 6 years older than B.

In [28]:
# Brainstorming TASK 
# CN tower has a front door for vistors and a back door for employees
# 
# What is the people count inside the building?

in_employees = 50
out_employees = 2
in_visitors = 500
out_visitors = 200

in_people = in_employees + in_visitors
out_people = out_employees + out_visitors

total_people_inside = in_people - out_people
print("There are", total_people_inside, "people inside the building")

There are 348 people inside the building

In [ ]:
# String task
# menu options - waffles, 3

In [1]:
x = "Hello;World"
print(x.split())

['Hello', 'World']