In [ ]:
# Revision - Functions
"""
Define 
Call
Multiple calls
Positional arguments
Keyword arguments
Default argument
"""

In [12]:
### function body

def Classroom(fname, lname=""):
  print(fname , " " , lname, "is in this class")

### main body

print("Welcome to my Classroom")
Classroom("Zoe", "Otgon")
Classroom("Ekatrina", "Shilina")
Classroom(lname = "Akabogu", fname = "Patience" )
Classroom(input("Enter student name: "))

Welcome to my Classroom
Zoe   Otgon is in this class
Ekatrina   Shilina is in this class
Patience   Akabogu is in this class
Enter student name: Hareem
Hareem    is in this class

In [17]:
# Returning values

def SUM(num1 , num2):
  ans = num1+num2
  return ans

def SUBTRACT(num1, num2):
  return num1-num2

print("Welcome to basic addition")
x =  SUM(6,4) # will be replaced by 10 (value)
percentage = x/50 * 100
print("The final sum is = ", x)
print("The final percentage is  = ", percentage)

y = SUBTRACT(10, 6)
percentage = y/50 * 100
print("The final subtraction is = ", y)
print("The final percentage is  = ", percentage)

Welcome to basic addition
The final sum is =  10
The final percentage is  =  20.0
The final subtraction is =  4
The final percentage is  =  8.0

In [19]:
def books(num_pages):
  
  if num_pages == 2:
    page = "preface"
  elif num_pages == 5:
    page = "ack"
  else:
    page = "chapter"

  return page


print("These pages are actually a ", books(107))

These pages are actually a  chapter

In [21]:
def canada(population, game, food):
  can = []
  can.append(population)
  can.append(game)
  can.append(food)

  return can

print("Welcome to Canada")
myList = canada(35000000, "hockey", "bagels")

print(type(myList))
print(myList)

Welcome to Canada
<class 'list'>
[35000000, 'hockey', 'bagels']

In [ ]:
# Task 1 aka Assignment 
"""
create a function that coverts the time from a 12 hour clock to a 24 hour format and returns a value.
In the main code, ask the user for an input. Display the time in the main code after conversion. 
Do this repeatedly unless the user says no. 

Sample output:
Enter time in 12 hour format:    1:15 pm
The time in 24 hour format is:   1315 hours
Do you want to convert another time (yes/no)? yes
Enter time in 12 hour format:    1:15 am
The time in 24 hour format is:   0115 hours
"""

In [24]:
s1 = input("Enter")
t, ampm = s1.split()
t1, t2 = t.split(":")

Enter10:15 am

In [31]:
#Passing a list, 
#returning a dictionary


def database(personList):
  #print(personList)
  d1 = {"NAME":personList[0],  "AGE":personList[1],  "YOB":personList[2]}
  d2 = {}
  return d1


print("Welcome!!")
##person = [name, age, yob]

personA = ["Zelda", 33, 1996]
x  = database(personA) ## replaced by d1

personB = ["Amna", 67, 1800]
y = database(personB)

print(x)
print(y)

Welcome!!
{'NAME': 'Zelda', 'AGE': 33, 'YOB': 1996}
{'NAME': 'Amna', 'AGE': 67, 'YOB': 1800}

In [33]:

def nameGetter(fullName):
  fname , lname = fullName.split()
  return fname, lname


myName = "Hareem Nisar"
x, y = nameGetter(myName)

print(x)
print(y)

Hareem Nisar

In [37]:
# Changing a List inside a function is permanent.

# Preventing a Function from Modifying a List - send a copy of the list.

def myFunctionA(listA, B):
  listA[0] = "ohno"
  B = 99


l = ["a", "b", "c"]
box = 30
print(l, box)

myFunctionA(l[:], box)
print(l, box)

myFunctionA(l, box)
print(l, box)

['a', 'b', 'c'] 30
['a', 'b', 'c'] 30
['ohno', 'b', 'c'] 30

In [6]:
# Passing an Arbitrary Number of Arguments using * (assume a tuple/list of variable length) 

# pizza toppings example


def pizzaOrder(size, *toppings):
  print(type(toppings))

pizzaOrder(10, 'pepperoni', 'cheese')

<class 'tuple'>

In [7]:
# Using Arbitrary Keyword Arguments using ** (assume a dictionary) 

def linkedIn(fname, lname, **info):
  print(type(info))

linkedIn("Hareem", "Nisar", job = "instructor", company = "MNLCT" )

<class 'dict'>