In [ ]:
#*****  LISTS *****

#book credits: Python Crash Course



# data type - array type - [__, __, __, __] # combination of many data types
# can be modified

myList1 = ["hello", 78, 91.5, True, "joker", 12]

In [ ]:
#Accessing Elements in a List, indexing, slicing,  

cars = ["honda", "tesla", "bmw"] 

#indexing or location starts from 0 (not 1)
print(cars[0])
print(cars[1])
print(cars[2])
print(cars[-1]) # last element

#slicing
print(cars[0:2]) # start_value : stop_value+1

honda
tesla
bmw
bmw
['honda', 'tesla']

In [ ]:
# modify list, Using Individual Values from a List, length
fruits = ["dragonfruit", "mangoes", "apples", "bananas"]
print(fruits)

fruits[0] = "dragon-fruit"
print(fruits)

f1 = fruits[2] ## f1 is a string data type
print(f1)
print(type(f1))
print(f1.title()) #title = to capitalize the first alphabet of each word in a string

print(len(fruits))

['dragonfruit', 'mangoes', 'apples', 'bananas']
['dragon-fruit', 'mangoes', 'apples', 'bananas']
apples
<class 'str'>
Apples
4

In [ ]:
# Modifying Elements in a List - change, append, insert

veges = ["potatoes", "onion", "tomato", "carrot", "broccoli"] 

veges[2] = "cauliflower"
print(veges)

veges.append("peas") #add an element at the END
print(veges)

veges.insert(1, "leek")
print(veges)

veges.insert(-2, "cucumber") ## can also use 3 or 4 
print(veges)

['potatoes', 'onion', 'cauliflower', 'carrot', 'broccoli']
['potatoes', 'onion', 'cauliflower', 'carrot', 'broccoli', 'peas']
['potatoes', 'leek', 'onion', 'cauliflower', 'carrot', 'broccoli', 'peas']
['potatoes', 'leek', 'onion', 'cauliflower', 'carrot', 'cucumber', 'broccoli', 'peas']

In [ ]:
# TASK 1 - Family Tree
#create an empty  family list.  fam= []
#fill up a list using user input.  
# print out the list 
# optional : two new babies are born - add those babies in the right place. 

# GP1, GP2,
# C1, C2, C3
# GC1, GC2
 
 #OR 

# GP1, GP2,
# C1, - GC1, GC2
# C2 - GC1, GC2

In [ ]:
# Remove elements - del, pop(), del vs pop, remove(value), 

bikes = [10, 12, 100, 433, 90, 60, 88, 1096]
print(bikes)

del bikes[1]
print(bikes)

bikes.pop() #removes last element
print(bikes)

f2 = bikes.pop(2) # pop can ALSO remove by index number
print(bikes)
print("I removed : ",f2)

# delete - just removes the value - no access
# pop() - also returns the value removed

bikes.remove(60)
print(bikes)

bikes = []
print(bikes)

[10, 12, 100, 433, 90, 60, 88, 1096]
[10, 100, 433, 90, 60, 88, 1096]
[10, 100, 433, 90, 60, 88]
[10, 100, 90, 60, 88]
I removed :  433
[10, 100, 90, 88]
[]

In [ ]:
## (nested) list  ==  list of lists

l1 = ["gp1", "gp2"]
l2 = ["c1", "c2", "c3"]
l3 = ["b1", "b2"]

fam = [l1, l2, l3]

print(fam)

fam[2].append("b3")

print(fam)

[['gp1', 'gp2'], ['c1', 'c2', 'c3'], ['b1', 'b2']]
[['gp1', 'gp2'], ['c1', 'c2', 'c3'], ['b1', 'b2', 'b3']]

In [ ]:
#organize - sort alphabetically, sort(reverse=True), reverse

beatles = ["here", "comes", "the", "sun"]
print(beatles)

beatles.sort() # goes from A to Z
print(beatles)

## way 1
beatles.reverse() # goes from Z to A
print(beatles)

## way 2
beatles.sort(reverse = True) # goes from Z to A
print(beatles)


## works with string only
nums = [2, 10, 100, 50]
print(nums.sort())

['here', 'comes', 'the', 'sun']
['comes', 'here', 'sun', 'the']
None
['the', 'sun', 'here', 'comes']
['the', 'sun', 'here', 'comes']

In [ ]:
# loop through a list, loop through a slice,  range(), and indentation

colors = ["green", "blue", "red", "purple"]

for c in colors:
  print(c, "apple")

for k in colors[0:3]:
  print(k, "painting")

ok = len(colors) 

for i in range(ok):
  print("*", colors[i] )
  

#numberList = range(5) #list of numbers from 0 till 4
#print(numberList)
#print(type(numberList))

green apple
blue apple
red apple
purple apple
green painting
blue painting
red painting
* green
* blue
* red
* purple

In [ ]:
# copy a list


listA = ["apples", "airplane", "air"]
listB = ["bananas", "bottle", "baby"]

# dont do this
listC = listA   ## REnaming - linked together. making A will change C
print(listC)

listA.append("alpha")
print(listC)


# do this instead
# *****************************************************************
listD = listA[:] # actually COPY all values to a new list-variable
# *****************************************************************
listA.append("aerodynamics")

print("this is list D: ", listD)
print("this is list A: ", listA)

['apples', 'airplane', 'air']
['apples', 'airplane', 'air', 'alpha']
this is list D:  ['apples', 'airplane', 'air', 'alpha']
this is list A:  ['apples', 'airplane', 'air', 'alpha', 'aerodynamics']

In [52]:


# ***** TUPLES ******

# tuples are lists you cannot modify

myTuple = (7, 8, 9)

print(myTuple)

#myTuple[1] = 5

myList = list(myTuple)

print(myList)

print(tuple(myList))

(7, 8, 9)
[7, 8, 9]
(7, 8, 9)